@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

/* Color variables */
$pending: #D8D5CD;
$progress: #CDC884;
$success: #70C8BE;
$unsuccess: #F26B73;

.genderAction {
  .container {
    max-width: 800px;
    margin: 0 auto;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);*/
  }  

  /***********************************/
  

  .circles {
    padding: 0;
    margin: 0;
    /*outline: 1px solid red;*/
    margin: 5px auto;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    .citem {
      font-weight: bold;
      text-align: center;
      margin: 5px 10px;
      flex: 1 1 auto;         

      %circle {
        display: block;
        height: 150px;
        width: 150px;
        text-align: center;
        line-height: 140px;
        border-radius: 75px;
        /*make it pretty*/
        background: #000;
        color: #fff;
        flex-grow: 1;
        margin: 5px auto;
    
        .number {
          font-size: 5em;
          font-weight: bold;
          text-shadow: 2px 2px 1px #666;
        }
    
      }

      .cpending {
        @extend %circle;
        background: $pending;
      }

      .cprogress {
        @extend %circle;
        background: $progress;
      }

      .csuccess {
        @extend %circle;
        background: $success;
      }

      .cunsuccess {
        @extend %circle;
        background-color: $unsuccess;
      }

      .label {
        margin: 15px auto;
        padding: 0;
      
        button {
          display: inline-block;
          border: none;
          padding: 5px 10px;
          margin: 0;
          text-decoration: none;
          border-radius: 5px;
          color: #ffffff;
          text-shadow: 1px 1px 0.5px #777;
          font-weight: bolder;
          font-size: 1.1em;
          cursor: pointer;
          text-align: center;
          transition: background 250ms ease-in-out, 
                      transform 150ms ease;
          -webkit-appearance: none;
          -moz-appearance: none;
        }

        button:hover,
        button:focus {
          opacity: 0.8;
        }

        button:active {
          transform: scale(0.9);
        }

        :global .pending {
          background-color: $pending;
        }
    
        :global .progress {
          background-color: $progress;
        }
        
        :global .success {
          background-color: $success;
        }
        
        :global .unsuccess {
          background-color: $unsuccess;
        }
      }
    }
  }

  .actionList {
    /*border: 1px dotted black;*/
    margin: 20px auto 10px auto;

    .actionItem {
      border: 1px solid;
      margin: 10px 5px;
      padding: 3px;

      .target {
        font-weight: bolder;
        font-size: 1.05em;
        /*text-decoration: underline;*/
      }
    }

    :global .pending {
      border-top: 10px solid;
      border-color: $pending;
    }

    :global .progress {
      border-top: 10px solid;
      border-color: $progress;
    }
    
    :global .success {
        border-top: 10px solid;
        border-color: $success;
    }
    
    :global .unsuccess {
        border-top: 10px solid;
        border-color: $unsuccess;
    }
  }
}